*{
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Styles for the main content container */
.app-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
  text-align: center;
}


table {
  width: 100%;
  border-collapse: collapse; 
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #007bff; 
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1; /* Highlight row on hover */
}

/* Button Styling */
button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s ease;
}

.add-button {
  background-color: #28a745; /* Green color for Add button */
  color: white;
}

.add-button:hover {
  background-color: #218838;
}

/* Style the delete buttons (which are inside the <td> in Alltransactions.js) */
td button {
  background-color: #dc3545; /* Red color for Delete button */
  color: white;
}

td button:hover {
  background-color: #c82333;
}

input{
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 12px;
  width: 50%;
  margin: 20px auto;
  display: block;
  outline: none;
}